[ req ]
default_bits       = 2048
default_md         = sha512
default_keyfile    = ca.key
prompt             = no
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName            = "UK"                     # C=
stateOrProvinceName    = "Reading"                # ST=
localityName           = "Reading"                # L=
